body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(67, 83, 228);
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: rgb(8, 7, 7);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}